In [15]:
import pyodbc
import csv

In [16]:
# Definir as informações de conexão
server = 'PAMELLA\SQLEXPRESS' # ou endereço IP
database = 'host'
driver = 'SQL Server'
trusted_connection = 'yes'

In [17]:
conn = pyodbc.connect('DRIVER='+driver+';SERVER='+server+';DATABASE='+database+';Trusted_Connection='+trusted_connection)
cursor = conn.cursor()

In [18]:
cursor.execute('''CREATE TABLE producao2 (
    produto VARCHAR,
    quantidade INT,
    preco_medio FLOAT, 
    receita_total FLOAT
)''')

In [19]:
cursor.commit()
cursor.close()